# Import the pandas package. But nickname it 'pd' for short.

In [65]:
import pandas as pd

# Read a CSV (or TSV or anything!)

Here we are reading in a .tsv where the first column is "geneSymbol" and the second column is "chromosome"

In [32]:
pd.read_csv('../data/gene_chrom.tsv', sep='\t')

         geneSymbol chromosome
0           DDX11L1       chr1
1             OR4F5       chr1
2          DQ597235       chr1
3          DQ599768       chr1
4      LOC100132062       chr1
5      LOC100133331       chr1
6         LOC388312       chr1
7            OR4F29       chr1
8          BC036251       chr1
9            M37726       chr1
10        LOC643837       chr1
11         AK056486       chr1
12           SAMD11       chr1
13           KLHL17       chr1
14          PLEKHN1       chr1
15            ISG15       chr1
16             AGRN       chr1
17         AK310350       chr1
18         BC033949       chr1
19        LOC254099       chr1
20          MIR200B       chr1
21          MIR200A       chr1
22           MIR429       chr1
23           TTLL10       chr1
24          B3GALT6       chr1
25           SCNN1D       chr1
26            PUSL1       chr1
27           GLTPD1       chr1
28           TAS1R3       chr1
29        LOC148413       chr1
...             ...        ...
30589     5_8S_rRNA       chr9
30590       Mir_633       chr9
30591            U2       chr9
30592      SNORD116       chr9
30593            U7       chr9
30594       Mir_652       chr9
30595       Mir_562       chr9
30596            U6       chrX
30597       Mir_652       chrX
30598       Mir_584       chrX
30599         Y_RNA       chrX
30600      Mir_1302       chrX
30601       Mir_548       chrX
30602           7SK       chrX
30603       Mir_544       chrX
30604            U4       chrX
30605     IRES_Cx43       chrX
30606            U2       chrX
30607       5S_rRNA       chrX
30608       Mir_500       chrX
30609   Metazoa_SRP       chrX
30610       Mir_361       chrX
30611       Mir_340       chrX
30612        SNORA9       chrX
30613       Mir_633       chrX
30614            U3       chrX
30615      SNORD112       chrX
30616            U7       chrX
30617       Mir_105       chrX
30618            U6       chrY

[30619 rows x 2 columns]

We want to save it to a variable so that we can manipulate it in other ways and CHECK IT OUT!

In [33]:
gene_chrom_table = pd.read_csv('../data/gene_chrom.tsv', sep='\t')

# Check out your data! What are we working with here?

We can sneak a peek at just the first few rows...

In [34]:
gene_chrom_table.head()

     geneSymbol chromosome
0       DDX11L1       chr1
1         OR4F5       chr1
2      DQ597235       chr1
3      DQ599768       chr1
4  LOC100132062       chr1

In [35]:
gene_chrom_table.head(2)

  geneSymbol chromosome
0    DDX11L1       chr1
1      OR4F5       chr1

Or the last few rows...

In [36]:
gene_chrom_table.tail(3)

      geneSymbol chromosome
30616         U7       chrX
30617    Mir_105       chrX
30618         U6       chrY

We can get a sense of the "shape" of the data...

In [42]:
gene_chrom_table.shape

(30619, 2)

^ This is what that means:

In [40]:
len(gene_chrom_table.columns)

2

In [39]:
len(gene_chrom_table)

30619

How about indexing into a row?

In [44]:
gene_chrom_table[gene_chrom_table.geneSymbol == 'TP53']

      geneSymbol chromosome
11939       TP53      chr17

You can also directly use the index number

In [48]:
gene_chrom_table.loc[11939]

geneSymbol     TP53
chromosome    chr17
Name: 11939, dtype: object

In [45]:
gene_chrom_table[gene_chrom_table.geneSymbol.isin(['TP53', 'BRCA1'])]

      geneSymbol chromosome
11939       TP53      chr17
12301      BRCA1      chr17

# OK let's read in another file. This one is a bit trickier

This file, which can be found at ../data/chrom_lengths.tsv, is actually *space-separated* and does not yet have column labels.

In [51]:
chrom_length_table = pd.read_csv('../data/chrom_lengths.tsv', sep=' ', names=['chrom', 'length'])
chrom_length_table.head()

  chrom       length
0     1  249,698,942
1     2  242,508,799
2     3  198,450,956
3     4  190,424,264
4     5  181,630,948

But! We have a problem. It looks like our lengths have actually been processed by pandas as strings instead of integers when they were loaded from the file.

In [57]:
chrom_length_table.loc[0].length

'249,698,942'

Python is **not** happy when we try to treat this value as an integer and use it in a summation

In [66]:
chrom_length_table.loc[0].length + 1

TypeError: can only concatenate str (not "int") to str

# Apply magic

### So let's make a new column where we convert each of these values into integers so we can do fancy things like graph them. We're going to be using the "apply" construct, which basically means we are defining a function to process each row and do something to it, then return the result of all of those functions.

For each value, we're going to want to replace the commas in the string with an empty string...

In [74]:
'249,698,942'.replace(',', '')

'249698942'

Then convert them to integers!

In [76]:
int('249,698,942'.replace(',', ''))

249698942

Et voila! We can treat them like numbers now.

In [82]:
int('249,698,942'.replace(',', '')) + 58

249699000

### Okay so here's our function definition

In [83]:
# Here's our function that will be "applied" to each row
def turn_string_number_into_integer(row):
    # Access the length from this row...
    string_length = row.length
    # Convert the length into an integer...
    int_length = int(string_length.replace(',', ''))
    # And return the integer!
    return int_length

Now, when we "apply" the function to each row (note: axis=1 implies processing each row one at a time, otherwise the default is to process each column one at a time), we will be returned a new column with the function's results for each row!

In [86]:
chrom_length_table.apply(turn_string_number_into_integer, axis=1)

0     249698942
1     242508799
2     198450956
3     190424264
4     181630948
5     170805979
6     159345973
7     145138636
8     138688728
9     133797422
10    135186938
11    133275309
12    114364328
13    108136338
14    102439437
15     92211104
16     83836422
17     80373285
18     58617616
19     64444167
20     46709983
21     51857516
22    156040895
23     57264655
dtype: int64

And we have to make sure to save it back to our dataframe with a new name

In [87]:
chrom_length_table['numeric_length'] = chrom_length_table.apply(turn_string_number_into_integer, axis=1)

In [88]:
chrom_length_table.head()

  chrom       length  numeric_length
0     1  249,698,942       249698942
1     2  242,508,799       242508799
2     3  198,450,956       198450956
3     4  190,424,264       190424264
4     5  181,630,948       181630948